<?xml version="1.0"?>

<!-- webapp/WEB-INF/web.xml -->

<web-app version="3.0" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee">

    <display-name>To do List</display-name>

    <welcome-file-list>

        <welcome-file>login.do</welcome-file>

    </welcome-file-list>

</web-app>